@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    width: 100%;
}

/* header */
header{
    position: sticky;
    top: 0;
    z-index: 100;
}
header nav{
    display: flex;
    height: 80px;
    width: 100%;
    background: #03091E;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 90px;
    flex-wrap: wrap;
}
.logo{
    color: #EFF0F1;
    width: 124px;
    height: 51px;
}
.logo img{
    width: 124px;
    height: 51px;
}
.logo-mobile{
    display: none;
}
header nav ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    margin: auto;
}
header nav ul li{
    margin: 0 5px;
}
header nav ul li a{
    color: #EFF0F1;
    text-decoration: none;
    justify-content: center;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}
header nav ul li a.active,
header nav ul li a:hover{
    color: #03091E;
    background: #EFF0F1;
}
nav .menu-btn i{
    color: #EFF0F1;
    font-size: 24px;
    cursor: pointer;
    display: none;
}
.icon-usuario-carrito i{
    color: #EFF0F1;
    font-size: 20px;
    padding: 7px;
}
input[type="checkbox"]{
    display: none;
}


/* SLIDER INICIO */
.container-slider-inicio{
    background-color: #03091E;
    height: 80%;
    display: flex;
    color: #EFF0F1;
    padding: 60px 0 30px 95px;
}
.contenido-slider1-left{
    height: 100%;
    width: 40%;
    flex-direction: column;
}
.contenido-slider1-right{
    width: 60%;
}
.container-slider-inicio h1{
    width: 370px;
    height: 56px;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 38px;
    letter-spacing: 1px;
    margin-bottom: 90px;
    /* padding: 14px 0; */
}
.container-slider-inicio h2{
    font-style: italic;
    display: flex;
    justify-content: flex-start;
    left: 139px;
    width: 100%;
    font-weight: 300;
    font-size: 26px;
    color: #A3FF40;
    padding: 30px 0 0 0;
}
.container-slider-inicio .btn-masinfo{
    color: #EFF0F1;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 175px;
    height: 43px;
    background-color: #82D940;
    border-radius: 37px;
    margin-top: 120px;
}
.container-slider-inicio .btn-masinfo h3{
    font-size: 20px;
    margin: 5px;
    text-align: center;
}
.img-uno-inicio{
    display: flex;
    justify-content: flex-end;
    width: 90%;
    height: 100%;
    margin-right: 95px;
}
.container-slider-inicio .img-uno-inicio img{
    width: 90%;
    height: 80%;
}

/* INFO MINIMA CONTENIDOS */
.info-minima-contenidos{
    display: flex;
    align-items: center;
    background-color: #03091E;
    color: #EFF0F1;
    padding: 0 25px 0 35px;
    overflow: hidden;
}
.info-minima-contenidos img{
    width: 78px;
    height: 77px;
}
.info-minima-texto{
    padding: 0 10px;
}
.info-minima-texto h4{
    font-size: 12px;
    text-transform: uppercase;
}
.info-minima-texto p{
    font-size: 12px;
    padding-top: 5px;
}

#txt{
    width: 80%;
    background-color: #324554;
    font-family: 'Montserrat', sans-serif;
    color: #EFF0F1;
    text-align: center;
    font-size: 2.25rem;
    padding: 30px 88px;
    margin: 20px auto;
}
/* SLIDER CURSOS */
.slider-cursos{
    width: 80%;
    margin: 20px auto;
    position: relative;
    background-image: url(../img/fondo-cursos.jpg);
    background-size: cover;
    background-position: center center;
    padding: 50px;
}


.slider-cursos h2{
text-align: center;
font-size: 2.625rem;
font-weight: bold;
margin-bottom:  20px;
color: #FFFFFF;
}
.card{
    position: relative;
    background: #fff;
    width: 443px;
    height: 483px;
    margin: 0 auto;
    font-size: 1.063rem;
    line-height: 20px;
    border: 1px solid #324554;
}
.card .content h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 4.5rem;
    font-weight: bold;
    text-align: left;
    padding: 15px;
    margin-bottom: 0;
}
.card .content{
    width: 100%;
    padding-bottom: 0;
    margin-bottom: 0;
    text-align: left;
}
.card .content p{
    padding: 0 15px;
}
.card .content p:first-of-type{
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 0;
}
.card .content button{
    display: inline-block;
    width: 100%;
    margin-top: 12px;
    padding: 10px 0;
    color: #FFFFFF;
}

.card .sliderImg{
    width: 100%;
    min-height: 174px;
    border: 1px solid #707070;
    background-image: url(../img/SliderCursos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.swiper-container {
    width: 100%;
    height: 100%;
  }
.swiper-slide{
    text-align: center;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.card1 h3{
    color: #E31837;
}
.card1 button{
    background: #E31837;
}
.card2 h3{
    color: #FF9C09;
}
.card2 button{
    background: #FF9C09;
}
.card3 h3{
    color: #c0a80e;
}
.card3 button{
    background: #c0a80e;
}
.card4 h3{
    color: #62a52f;
}
.card4 button{
    background: #62a52f;
}
.card5 h3{
    color: #7f4cc2;
}
.card5 button{
    background: #7f4cc2;
}
.card6 h3{
    color: #0A8ECD;
}
.card6 button{
    background: #0A8ECD;
}

/* TESTIMONIALS */
.testimonials{
    width: 100%;
    height: 450px;
    background-color: #03091E;
    padding-top: 25px;
}
.testimonials h2{
    color: #F3F3F3;
    padding-left: 13%;
    text-align: left;
    margin-top: 0;
}
.testimonials h2 span{
    font-weight: lighter;
}
.testimonials .carousel-control-next{
    align-items: end;
    width: 25px;
    top: 17px;
    left: 103%;
} .testimonials .carousel-control-prev{
    align-items: end;
    width: 25px;
    top: 17px;
    left: 100%;
}
.card-testimonial{
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    padding: 15px;
    background-color: #03091E;
    color: #EEEEEE;
    font-size: 1.063rem;
    
}
.card-testimonial div:first-child{
    width: 100%;
    padding: 10px;
}
.card-testimonial div:last-child{
    width: 100%;
    padding: 0 10px;
    background-color: #010513;
}
.card-testimonial div:last-child p{
    color: #EEEEEE;
    font-size: 1.063rem;
}
.card-testimonial img{
    width: 51px;
    height: 51px;
    border-radius: 100%;
    margin-bottom: 15px;
}
.card-testimonial p:first-of-type{
    color: #A3FF40 ;
}
.card-testimonial p:nth-of-type(2){
    color: #8B8B8B ;
    font-size: 0.875rem;

}
/* detalle */
.detail{
    width: 100%;
    height: 658px;
    padding: 30px 92px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}
.detail-1{
    background-color: #E31837 ;
    display: none;
}
.detail-1 h3, .detail-1 button{
    color: #E75A70;
}
.detail-2{
    background-color: #b97105 ;
    display: none;
}
.detail-2 h3, .detail-2 button{
    color: #FF9C09;
}
.detail-3{
    background-color: #c0a80e ;
    display: none;
}
.detail-3 h3, .detail-3 button{
    color: #85740b;
}
.detail-4{
    background-color: #62a52f ;
    display: none;
}
.detail-4 h3, .detail-4 button{
    color: #3d661e;
}
.detail-5{
    background-color: #7f4cc2 ;
    display: none;
}
.detail-5 h3, .detail-5 button{
    color: #4d2f75;
}
.detail-6{
    background-color: #0975a7;
    display: none;
}
.detail-6 h3, .detail-6 button{
    color: #125675;
}
.detail-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    background-color: transparent;
    font-size: 1.063rem;
    line-height: 20px;
    color: #FFFFFF;
}

.detail-container div:first-child, .detail-container div:last-child{
    width: 100%;
    height: 100%;
    padding: 10px;
}
.detail-container div:first-child img{
    width: 100%;
    height: 350px;
    margin-bottom: 5px;
}
.detail-container div:first-child a{
    width: 129px;
    display: block;
    padding: 5px;
    text-align: center;
    color: #FFFFFF;
    font-size: 1.125rem;
    border: 1px solid #FFFFFF;
    margin-top: 95px;
}
.detail-container div:last-child h3{
    display: block;
    font-size: 4.5rem;
    font-weight: bold;
    float: left;
}
.detail-container div:last-child button{
    width: 21px;
    height: 21px;
    text-align: center;
    line-height: 1rem;
    margin: 10px 0 0 310px;
    border: none;
    background: none;
    font-size: 2rem;
}
.detail-container div:last-child h6{
    clear: both;
    font-size: 1.25rem;
}

/* destinatarios */
.destination{
    width: 80%;
    padding: 20px 92px;
    margin: 35px auto;
    background-color: #03091E;
    font-size: 1.063rem;
    color: #E2E2E2;
}

.destination h3{
    font-size: 2.563rem;
    font-weight: bold;
    color: #A3FF40;
    letter-spacing: 2.05px;
    margin-bottom: 25px;
}
.destination button, .blog button, footer button{
    width: 168px;
    height: 48px;
    background-color: #82D940;
    border-color: #707070;
    border-radius: 37px;
    color: #EFF0F1;
    margin-top: 25px;
}

.destination  ul li{
    margin-bottom: 12px;
    line-height: 20px;
}
/* autoridades */
.autoridades, .organizan{
    width: 100%;
    padding: 35px 139px;
}
.autoridades h3 span{
    font-weight: normal;
}
.autoridades h3, .organizan h3{
    font-size: 2.625rem;
    font-weight: bold;
    color: #03091E;
    text-align: center;
}
.autoridades p, .organizan p{
    font-size: 1.063rem;
    color: #202020;
    line-height: 20px;
}
.autoridades p:first-of-type{
    color: #82D940;
    font-size: 1.5rem;
    margin-bottom: 0;
}
.autoridades p:nth-of-type(2){
    color: #82D940;
    font-size: 1.313rem;
    margin-bottom: 5px;
}
.autoridades img{
    width: 100%;
    margin-bottom: 20px;
}


/* organizan */
.organizan img{
    width: 100%;  
}

.organizan h3{
    text-align: center;
}
.organizan h3 span{
    font-weight: normal;
}
.organizan .logosParteners p{
    color: #656565;
}

/* comunidad */

.comunity{
    width: 100%;
    height: 520px;
    background: url(../img/comunidad\ estadio2.jpg) no-repeat  center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    text-align: center;
    padding: 0 50px;
}

.comunity h2{
    font-size: 4.5rem;
    letter-spacing: 3.6px;
    font-family: Montserrat;
    margin: 0;
}

.comunity p:first-child{
    display: inline-block;
    font-size: 1.438rem;
    margin-bottom: 0;
    line-height: 17px;
}
.comunity p:last-child{
    font-size: 1.063rem;
    line-height: 27px;
}

/* blog section*/
.blog{
    width: 100%;
    min-height: 100vh;
    padding: 30px 139px;
    background-color: #03091E;
    color: #FFFFFF;
}

.blog h6{
    text-align: center;
    font-weight: bold;
    font-size: 1.438rem;
    letter-spacing: 1.15px;
}
.blog button{
    display: block;
    text-align: center;
    margin:  5px auto;

}
.blog-container {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 16px;
    font-size: 1.063rem;
    letter-spacing: 0;
    line-height: 20px;
    }
    
    .divblog1 { grid-area: 1 / 1 / 2 / 2; }
    .divblog2 { grid-area: 2 / 1 / 3 / 2; }
    .divblog3 { grid-area: 3 / 1 / 4 / 2; }
    .divblog4 { grid-area: 1 / 2 / 4 / 3; }
.divblog1 .img, .divblog2 .img, .divblog3 .img{
    width: 168px;
    height: 174px;
    background-color: white;
    border: #707070;
    float: left;
    margin-right: 10px;
}
.divblog4 .img{
    width: 444px;
    height: 383px;
    background-color: white;
    border: #707070;
    margin-bottom: 15px;
}
.blog-container .blog-subtitulo, .page-blog .blog-subtitulo{
    font-size: 1rem;
    letter-spacing: 0.85px;
    margin: 0;
}
.blog-container .blog-titulo, .page-blog .blog-titulo{
    margin: 0;
    font-size: 2.25rem;
    line-height: 36px;
}
/* BLOG PAGINA COMPLETA */
.page-blog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    font-size: 1.063rem;
    letter-spacing: 0;
    line-height: 20px;
    padding: 30px 130px;
    }
    
    .div-page-blog_1 { grid-area: 1 / 1 / 2 / 3; }
    .div-page-blog_2 { grid-area: 1 / 3 / 2 / 4; }
    .div-page-blog_3 { grid-area: 2 / 1 / 3 / 2; }
    .div-page-blog_4 { grid-area: 2 / 2 / 3 / 3; }
    .div-page-blog_5 { grid-area: 3 / 1 / 4 / 2; }
    .div-page-blog_6 { grid-area: 3 / 2 / 4 / 3; }
    .div-page-blog_7 { grid-area: 4 / 1 / 5 / 2; }
    .div-page-blog_8 { grid-area: 4 / 2 / 5 / 3; }

    .titulo-page-blog{
font-size: 3.375rem;
font-weight: bold;
color: #03091E;
padding: 20px 0 0 130px;
}
.div-page-blog_1 .img{
    width: 100%;
    height: 383px;
    border: #707070;
    background-color: grey;
    margin-bottom: 15px;
}
.div-page-blog_3 .img, .div-page-blog_4 .img, .div-page-blog_5 .img, .div-page-blog_6 .img, .div-page-blog_7 .img, .div-page-blog_8 .img{
    width: 100%;
    height: 222px;
    background-color: grey;
    border: #707070;
}
.btnblogpage, .div-page-blog_2 input[type="submit"]{
    width: 168px;
    height: 48px;
    background-color: #82D940;
    border-color: #707070;
    border-radius: 37px;
    color: #EFF0F1;
    margin: 0 0 50px 130px;
}

.div-page-blog_2{
    width: 75%;
    height: 380px;
    background-color: #03091E;
    border-radius: 4px;
    color: #FFFFFF;
    text-align: center;
    padding: 30px 10px;
}
.div-page-blog_2 h6{
    font-size: 1.313rem;
    margin-bottom: 30px;
}
.div-page-blog_2 input{
    margin-top: 30px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid grey;
    color: white;
}
.div-page-blog_2 input[type="submit"]{
    margin: 50px 0 0 0;
}
/* NEWSLETTER */
.newsletter{
    width: 100%;
    height: 297px;
    text-align: center;
    color: #FFFFFF;
    background-color: #010513;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.newsletter #input{
    width: 461px;
    
}
#input input, #button-addon2{
    font-size: 1.5rem;
}
#button-addon2{
    background-color:#82D940;
    color: white;    
}

/* FOOTER */
footer{
    width: 100%;
    height: 305px;
    background-color: #03091E;
    color: #EFF0F1;
    font-size: 0.938rem;
    padding: 20px 139px;
    display: flex;
    justify-content: space-between;
}
footer div:first-child a{
    text-decoration: none;
    color: #EFF0F1;
}
footer div:first-child a img{
    width: 139px;
    height: 58px;
    margin-bottom: 20px;
    padding-left: 0;
}
.footer{
    padding-left: 0;
    margin-left: 0;
}
.footer ul{
    flex-direction: column;
    list-style: none;
    padding-left: 10px;
    
    margin-bottom: 30px;
}
footer div:first-child p{
    font-size: 13px;
    padding-left: 10px;
   
}
#copy{
    padding-top: 0px;
}
footer div:last-child p:first-of-type{
    float: left;
    font-size: 1.5rem;
    text-align: right;
    line-height: 52px;
}
footer button{
    margin: 0 5px;
}
footer div:last-child p:last-of-type{
    text-align: right;
    clear: both;
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 0;
}
.candados{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: right;
    margin-top: 10px;
    margin-left: auto;
    
}
.candados img{
    width: 20px;
    height: 20px;
  
}
.candados div:first-child, .cards, .redes{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.cards img{
    width: 50px;
    height: 40px;
    margin-top: 0;
}
.redes a{
    text-decoration: none;
    color: #EEEEEE;
    padding: 10px;
}
.redes i{
    font-size: 2rem;
    margin-top: 35px;
}

/* MEDIA QUERIES */
/* HEADER */
@media (max-width: 920px) {
nav .menu-btn i{
    display: block;
}
nav .logo{
    display: none;
}
header nav{
    padding: 0 30px 0 40px;
}
.logo-mobile{
    display: flex;
    color: #EFF0F1;
    /* margin: 0 auto; */
    padding-left: 20px;
    width: 80px;
    height: 50px;
}
.logo-mobile img{
    object-fit: contain;
    width: 80px;
    height: 50px;
}
.icon-usuario-carrito i{
    color: #EFF0F1;
    font-size: 18px;
    padding: 0 6px;
}
#click:checked ~ .menu-btn i:before{
    content: "\f00d";
}
nav ul{
    position: absolute;
    z-index: 100;
    top: 80px;
    left: -100%;
    justify-content: center;
    background: #03091E;
    height: 330px;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
}
#click:checked ~ ul{
    left: 0;
}
nav ul li{
    width: 100%;
    margin: 40px 0;
}
nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 17px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
#click:checked ~ ul li a{
    margin-left: 0px;
}
nav ul li a.active,
nav ul li a:hover{
    background: none;
    color: greenyellow;
    }

/*Slider inicio*/
.container-slider-inicio{
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 20px 2px 20px 19px;
    /* overflow: hidden; */
    }
.contenido-slider1-right{
    width: 100%;
    height: 40%;
    }
.container-slider-inicio h1{
    width: 100%;
    font-size: 31px;
    }
.container-slider-inicio h2{
    width: 260px;
    font-weight: 200;
    font-size: 24px;
    padding-top: 50px;
    margin-top: 25px;
    }
.container-slider-inicio .btn-masinfo{
    margin-bottom: 140px;
    position: absolute;
    bottom: -210px;
    }
.img-uno-inicio{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 350px;
    margin: 20px 50px 0 -10px;
    padding-bottom: 20px;
    }

/* Info minima */
.info-minima-contenidos{
    display: block;
    width: 100%;
    }
.info-minima-texto h4,.info-minima-texto p{
    width: 65%;
    margin: auto;
    display: flex;
    justify-content: center;
    font-size: 15px;
    padding-bottom: 10px;
}
.info-minima-contenidos img{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 10px;
    }
}

@media (max-width: 768px){
    /* SLIDER CURSOS */
.slider-cursos{
    width: 100%;
    padding: 50px;
}
.card .content h3{
    font-size: 4rem;
    padding-bottom: 0;
}
.card .content p{
    padding: 0 15px;
    font-size: 1rem;
    line-height: normal;
}
.card .content p:first-of-type{
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 0;
}
.card .content button{
    margin-top: 0px;
}
/* detalle */
.detail{
    padding: 30px;
}
.detail-container{
    font-size: 1rem;
}
.detail-container div:first-child img{
    height: 290px;
    margin-bottom: 15px;
}
.detail-container div:last-child h3{
    font-size: 4rem;
}
.detail-container div:last-child button{
    margin: 10px 0 0 210px;
}
/* mensaje gris */
#txt{
    width: 100%;
    font-size: 2rem;
}
/* TESTIMONIALS */
.card-testimonial div:last-child p{
    font-size: 0.9rem;
    line-height: normal;
}
.w-75 {
    width: 98%!important;
}
/* autoridades */
.autoridades, .organizan{
    padding: 35px 100px;
}
.autoridades p, .organizan p{
    font-size: 1rem;
}
.autoridades img{
    display: block;
    width: 50%;
    margin: 0 auto 20px;
}
/* comunidad */
.comunity{
    width: 100%;
    height: 400px;
}
.comunity h2{
    font-size: 4rem;
}
.comunity p:first-child{
    font-size: 1.3rem;
}
.comunity p:last-child{
    font-size: 1rem;
    line-height: 27px;
}
/* blog section*/
.blog{
    padding: 30px 120px;
}
.blog-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 12px;
    font-size: 1rem;
    line-height: normal;
}
    
    .divblog1 { grid-area: 1 / 1 / 2 / 2; }
    .divblog2 { grid-area: 2 / 1 / 3 / 2; }
    .divblog3 { grid-area: 3 / 1 / 4 / 2; }
    .divblog4 { grid-area: 1 / 2 / 4 / 3; }
.divblog1 .img, .divblog2 .img, .divblog3 .img{
    width: 140px;
    height: 140px;
    float: left;
    margin-right: 10px;
}
.divblog4 .img{
    width: 100%;
    height: 250px;
}
.divblog3{
    display: none;
}
.blog-container .blog-subtitulo, .page-blog .blog-subtitulo{
    letter-spacing: normal;
}
.blog-container .blog-titulo, .page-blog .blog-titulo{
    font-size: 2rem; 
}
/* BLOG PAGINA COMPLETA */
.page-blog {
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    font-size: 1rem;
    padding: 30px 80px;
}
.titulo-page-blog{
font-size: 3rem;
}
.btnblogpage, .div-page-blog_2 input[type="submit"]{
    display: block;
    width: 160px;
    height: 40px;
    margin: 0 auto 20px;
}
.div-page-blog_2{
    width: 100%;
}
.div-page-blog_2 input[type="submit"]{
    margin-top: 50px ;
}
/* NEWSLETTER */
.newsletter{
    height: 240px;
}
#input input, #button-addon2{
    font-size: 1.3rem;
}
/* FOOTER */
footer{
    height: 250px;
    font-size: 0.8rem;
    padding: 20px 120px;
}
footer div:first-child a img{
    width: 115px;
    height: 40px;
    margin-bottom: 20px;
    padding-left: 0;
}
#menuFooter{
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0px;
    color: white;
    margin-bottom: 30px;
}
footer div:first-child p{
    font-size: 10px;
    padding-left: 10px;
}
#copy{
    padding-top: 100px;
}
#txtPago{
    margin-left: 188px !important;
}
footer button{
    margin: 0 0px;
    margin-left: 190px;
    width: 120px;
}
footer div:last-child p:first-of-type {
    font-size: 1.5rem;
    text-align: right;
    line-height: normal;
}
footer div:last-child p:last-of-type{
    text-align: right;
    clear: both;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0;
}
.candados{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: right;
    margin-top: 10px;
    margin-left: auto;
    
}
.candados img{
    width: 10px;
    height: 10px;  
}
.cards img{
    width: 40px;
    height: 40px;  
}
.redes a{
    text-decoration: none;
    color: #EEEEEE;
    padding: 10px;
}
.redes i{
    font-size: 1rem;
    margin-top: 35px;
}
}

@media (max-width: 480px){
.slider-cursos h2{
    font-size: 1.5rem;
}
.card{
    width: 450px;
    height: auto;
    font-size: 1rem;
}
.card .content h3{       
    font-size: 3rem;
}
.card .content p:first-of-type{
    font-weight: bold;
    font-size: 1rem;
}
/* detalle */
.detail{
    padding: 40px;
}
.detail-container{
    flex-direction: column-reverse;
    justify-content: center;
    font-size: 0.9rem;
    line-height: normal;
}
.detail-container p{
    margin-bottom: 0;
}
.detail-container div:first-child a{
    font-size: 1rem;
    margin-top: 10px;
}
.detail-container div:first-child img{
    display: block;
    width: 80%;
    height: 100px;
    margin: 0 auto;
}
.detail-container div:last-child h3{
    font-size: 2rem;
}
.detail-container div:last-child button{
    margin: 10px 0 0 240px;
}
/* mensaje gris */
#txt{
    width: 100%;
    font-size: 1.5rem;
    padding: 10px;
}
/* TESTIMONIALS */


/* TESTIMONIALS */
/* .testimonials{
    width: 100%;
    height: 450px;
    background-color: #03091E;
    padding-top: 25px;
} */
.testimonials h2{
    font-size: 1.3rem;
}
/* .testimonials .carousel-control-next{
    align-items: end;
    width: 25px;
    top: 17px;
    left: 103%;
} .testimonials .carousel-control-prev{
    align-items: end;
    width: 25px;
    top: 17px;
    left: 100%;
} */
.card-testimonial{
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 1rem;
    
    
}
.card-testimonial div:first-child{
    padding:0 10px;
}
.card-testimonial div:last-child p{
    font-size: 0.9rem;
}

.card-testimonial img{
    margin-bottom: 5px;
}
.card-testimonial p:first-of-type{
    color: #A3FF40 ;
    margin-bottom: 0;
}
.card-testimonial p:nth-of-type(2){
    color: #8B8B8B ;
    font-size: 0.8rem;
}


}