/* Tipografia Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;600&display=swap');
/* Tipografia Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    width: 100%;
}

/* header */
header{
    position: sticky;
    top: 0;
    z-index: 50;
}
header nav{
    display: flex;
    height: 65px;
    width: 100%;
    background: #03091E;
    align-items: center;
    justify-content: space-between;
    padding: 7px 50px 0 90px;
    flex-wrap: wrap;
}
.logo{
    color: #EFF0F1;
    width: 124px;
    height: 51px;
}
.logo img{
    width: 124px;
    height: 51px;
}
.logo-mobile{
    display: none;
}
header nav ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    margin: auto;
}
header nav ul li{
    margin: 0 5px;
}
header nav ul li a{
    color: #EFF0F1;
    text-decoration: none;
    justify-content: center;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}
header nav ul li a.active,
header nav ul li a:hover{
    color: #03091E;
    background: #EFF0F1;
    text-decoration: none;
}
nav .menu-btn i{
    color: #EFF0F1;
    font-size: 24px;
    cursor: pointer;
    display: none;
}
.icon-usuario-carrito i{
    color: #EFF0F1;
    font-size: 20px;
    padding: 7px;
}
input[type="checkbox"]{
    display: none;
}

/* slider inicio */
.container-slider-inicio{
    width: 100%;
    height: 80vh;
    overflow: hidden;
}
.container-slides-inicio{
    width: 500%;
    height: 80vh;
    position: relative;
    display: flex;
}
.container-slides-inicio input{
    display: none;
}
.slide-inicio{
    width: 20%;
    transition: .6s;
}
.slide-inicio img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* Primer slide inicio*/
.info-inicio{
    position: absolute;
    top: 0;
}
.text-slider1-inicio{
    margin: 30px 0 25px 95px;
    color: #EFF0F1;
}
.container-slider-inicio .text-slider1-inicio h1{
    width: 370px;
    height: 50px;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 45px;
    letter-spacing: 1px;
    margin-bottom: 80px;
}
.container-slider-inicio .text-slider1-inicio h2{
    font-style: italic;
    font-weight: 300;
    font-size: 29px;
    color: #A3FF40;
    padding-top: 60px;
}
.container-slider-inicio .btn-masinfo-inicio button{
    color: #EFF0F1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 56px;
    background-color: #82D940;
    border-radius: 42px;
    margin-top: 120px;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
}
/* Segundo slide inicio */
.contenido-slider2{
    position: relative;
}
.text-slider2-inicio{
    width: 100%;
    color: #EFF0F1;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text-slider2-inicio h4{
    font-size: 26px;
    font-weight: 300;
}
.text-slider2-inicio h2{
    font-size: 45px;
    word-spacing: 2px;
    letter-spacing: 1px;
    font-family: 'Montserrat';
    text-transform: uppercase;
    padding-bottom: 20px;
    text-align: center;
}
.text-slider2-inicio h3{
    font-size: 32px;
    font-weight: 300;
    font-style: italic;
}
/*btns paginacion slider auto*/
.navigation-auto{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: -40px;
}
.navigation-auto div{
    border: 2px solid #82D940;
    padding: 6px;
    border-radius: 10px;
    transition: .6s;
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~ .navigation-auto {
    background: #82D940;
}
#radio2:checked ~ .navigation-auto {
    background: #82D940;
}
#radio3:checked ~ .navigation-auto .auto-btn3-inicio{
    background: #82D940;
}
/*btns paginacion slider manual*/
.navigation-manual{
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    padding: 6px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s;
    border: 2px solid #82D940;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background: #82D940;
}
#radio1:checked ~ .first-inicio{
    margin-left: 0;
}
#radio2:checked ~ .first-inicio{
    margin-left: -20%;
}
#radio3:checked ~ .first-inicio{
    margin-left: -40%;
}

/* Info minima contenidos */
.info-minima-contenidos{
    display: flex;
    align-items: center;
    background-color: #03091E;
    color: #EFF0F1;
    padding: 40px 20px 10px 60px;
    overflow: hidden;
}
.info-minima-contenidos img{
    width: 80px;
    height: 80px;
    padding-bottom: 12px;
}
.info-minima-texto{
    padding: 0 10px;
}
.info-minima-texto h4{
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}
.info-minima-texto p{
    font-size: 12px;
}

#txt{
    width: 80%;
    background-color: #324554;
    font-family: 'Montserrat', sans-serif;
    color: #EFF0F1;
    text-align: center;
    font-size: 2.25rem;
    padding: 30px 88px;
    margin: 20px auto;
}
/* SLIDER CURSOS */
.slider-cursos{
    width: 80%;
    margin: 20px auto;
    position: relative;
    background-image: url(../img/fondo-cursos.jpg);
    background-size: cover;
    background-position: center center;
    padding: 50px;
}


.slider-cursos h2{
text-align: center;
font-size: 2.625rem;
font-weight: bold;
margin-bottom:  20px;
color: #FFFFFF;
}
.card{
    position: relative;
    background: #fff;
    width: 443px;
    height: 483px;
    margin: 0 auto;
    font-size: 1.063rem;
    line-height: 20px;
    border: 1px solid #324554;
}
.card .content h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 4.5rem;
    font-weight: bold;
    text-align: left;
    padding: 15px;
    margin-bottom: 0;
}
.card .content{
    width: 100%;
    padding-bottom: 0;
    margin-bottom: 0;
    text-align: left;
}
.card .content p{
    padding: 0 15px;
}
.card .content p:first-of-type{
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 0;
}
.card .content button{
    display: inline-block;
    width: 100%;
    margin-top: 12px;
    padding: 10px 0;
    color: #FFFFFF;
    transition: all 0.3s ease;
}

.card .sliderImg{
    width: 100%;
    min-height: 174px;
    border: 1px solid #707070;
    background-image: url(../img/SliderCursos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.swiper-container {
    width: 100%;
    height: 100%;
  }
.swiper-slide{
    text-align: center;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.card1 h3{
    color: #E31837;
}
.card1 button{
    background: #E31837;
}
.card1 button:hover{
    background: #b4132b;
}
.card2 h3{
    color: #FF9C09;
}
.card2 button{
    background: #FF9C09;
}
.card2 button:hover{
    background: #da8507;
}
.card3 h3{
    color: #c0a80e;
}
.card3 button{
    background: #c0a80e;
}
.card3 button:hover{
    background: #a8930c;
}
.card4 h3{
    color: #62a52f;
}
.card4 button{
    background: #62a52f;
}
.card4 button:hover{
    background: #538b28;
}
.card5 h3{
    color: #7f4cc2;
}
.card5 button{
    background: #7f4cc2;
}
.card5 button:hover{
    background: #7143ad;
}
.card6 h3{
    color: #0A8ECD;
}
.card6 button{
    background: #0A8ECD;
}
.card6 button:hover{
    background: #087eb4;
}

/* TESTIMONIALS */
.testimonials{
    width: 100%;
    height: 450px;
    background-color: #03091E;
    padding-top: 25px;
}
.testimonials h2{
    color: #F3F3F3;
    padding-left: 13%;
    text-align: left;
    margin-top: 0;
}
.testimonials h2 span{
    font-weight: lighter;
}
.testimonials .carousel-control-next{
    align-items: end;
    width: 25px;
    top: 17px;
    left: 103%;
} .testimonials .carousel-control-prev{
    align-items: end;
    width: 25px;
    top: 17px;
    left: 100%;
}
.card-testimonial{
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    padding: 15px;
    background-color: #03091E;
    color: #EEEEEE;
    font-size: 1.063rem;
    
}
.card-testimonial div:first-child{
    width: 100%;
    padding: 10px;
}
.card-testimonial div:last-child{
    width: 100%;
    padding: 0 10px;
    background-color: #010513;
}
.card-testimonial div:last-child p{
    color: #EEEEEE;
    font-size: 1.063rem;
}
.card-testimonial img{
    width: 51px;
    height: 51px;
    border-radius: 100%;
    margin-bottom: 15px;
}
.card-testimonial p:first-of-type{
    color: #A3FF40 ;
}
.card-testimonial p:nth-of-type(2){
    color: #8B8B8B ;
    font-size: 0.875rem;

}
/* detalle */
.detail{
    width: 100%;
    height: 658px;
    padding: 30px 92px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}
.detail-1{
    background-color: #E31837 ;
    display: none;
}
.detail-1 h3, .detail-1 button{
    color: #E75A70;
}
.detail-2{
    background-color: #b97105 ;
    display: none;
}
.detail-2 h3, .detail-2 button{
    color: #FF9C09;
}
.detail-3{
    background-color: #c0a80e ;
    display: none;
}
.detail-3 h3, .detail-3 button{
    color: #85740b;
}
.detail-4{
    background-color: #62a52f ;
    display: none;
}
.detail-4 h3, .detail-4 button{
    color: #3d661e;
}
.detail-5{
    background-color: #7f4cc2 ;
    display: none;
}
.detail-5 h3, .detail-5 button{
    color: #4d2f75;
}
.detail-6{
    background-color: #0975a7;
    display: none;
}
.detail-6 h3, .detail-6 button{
    color: #125675;
}
.detail-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    background-color: transparent;
    font-size: 1.063rem;
    line-height: 20px;
    color: #FFFFFF;
}

.detail-container div:first-child, .detail-container div:last-child{
    width: 100%;
    height: 100%;
    padding: 10px;
}
.detail-container div:first-child img{
    width: 100%;
    height: 350px;
    margin-bottom: 5px;
}
.detail-container div:first-child button{
    width: 129px;
    display: block;
    padding: 5px;
    text-align: center;
    color: #FFFFFF;
    font-size: 1.125rem;
    border: 3px solid #FFFFFF;
    background: transparent;
    margin-top: 95px;
    transition: all 0.3s ease;
}

.detail-container div:first-child .btnCompra:hover{
    color: #03091E;
    font-weight: bold;
    text-decoration: none;
    border-color: #03091E;
}
.detail-container div:last-child h3{
    display: block;
    font-size: 4.5rem;
    font-weight: bold;
    float: left;
}
.detail-container div:last-child button{
    width: 21px;
    height: 21px;
    text-align: center;
    line-height: 1rem;
    margin: 10px 0 0 310px;
    border: none;
    background: none;
    font-size: 2rem;
    transition: all 0.3s ease;
}
.detail-container div:last-child button:hover{
    color: #03091E;
}
.detail-container div:last-child h6{
    clear: both;
    font-size: 1.25rem;
}

/* destinatarios */
.destination{
    width: 80%;
    padding: 20px 92px;
    margin: 35px auto;
    background-color: #03091E;
    font-size: 1.063rem;
    color: #E2E2E2;
}

.destination h3{
    font-size: 2.563rem;
    font-weight: bold;
    color: #A3FF40;
    letter-spacing: 2.05px;
    margin-bottom: 25px;
}
.destination button, .blog button, footer button{
    width: 168px;
    height: 48px;
    background-color: #82D940;
    border-color: #707070;
    border-radius: 37px;
    color: #EFF0F1;
    margin-top: 25px;
    transition: all 0.3s ease;
}
.destination button:hover, .blog button:hover, footer button:hover{
    background-color: #62a72e;
}
.destination  ul li{
    margin-bottom: 12px;
    line-height: 20px;
}
/* autoridades */
.autoridades, .organizan{
    width: 100%;
    padding: 35px 139px;
}
.autoridades h3 span{
    font-weight: normal;
}
.autoridades h3, .organizan h3{
    font-size: 2.625rem;
    font-weight: bold;
    color: #03091E;
    text-align: center;
}
.autoridades p, .organizan p{
    font-size: 1.063rem;
    color: #202020;
    line-height: 20px;
}
.autoridades p:first-of-type{
    color: #82D940;
    font-size: 1.5rem;
    margin-bottom: 0;
}
.autoridades p:nth-of-type(2){
    color: #82D940;
    font-size: 1.313rem;
    margin-bottom: 5px;
}
.autoridades img{
    width: 100%;
    margin-bottom: 20px;
}


/* organizan */
.organizan img{
    width: 100%;  
}

.organizan h3{
    text-align: center;
}
.organizan h3 span{
    font-weight: normal;
}
.organizan .logosParteners p{
    color: #656565;
}

/* comunidad */

.comunity{
    width: 100%;
    height: 520px;
    background: url(../img/comunidad\ estadio2.jpg) no-repeat  center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    text-align: center;
    padding: 0 50px;
}

.comunity h2{
    font-size: 4.5rem;
    letter-spacing: 3.6px;
    font-family: Montserrat;
    margin: 0;
}

.comunity p:first-child{
    display: inline-block;
    font-size: 1.438rem;
    margin-bottom: 0;
    line-height: 17px;
}
.comunity p:last-child{
    font-size: 1.063rem;
    line-height: 27px;
}

/* blog section*/
.blog{
    width: 100%;
    min-height: 100vh;
    padding: 30px 139px;
    background-color: #03091E;
    color: #FFFFFF;
}

.blog h6{
    text-align: center;
    font-weight: bold;
    font-size: 1.438rem;
    letter-spacing: 1.15px;
}
.blog button{
    display: block;
    text-align: center;
    margin:  5px auto;
}
.blog a{
    text-decoration: none;
}
.blog-container {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 16px;
    font-size: 1.063rem;
    letter-spacing: 0;
    line-height: 20px;
    }
    
    .divblog1 { grid-area: 1 / 1 / 2 / 2; }
    .divblog2 { grid-area: 2 / 1 / 3 / 2; }
    .divblog3 { grid-area: 3 / 1 / 4 / 2; }
    .divblog4 { grid-area: 1 / 2 / 4 / 3; }
.divblog1 .img, .divblog2 .img, .divblog3 .img{
    width: 168px;
    height: 174px;
    background-image: url(../img/fondoblogposteo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border: #707070;
    float: left;
    margin-right: 10px;
    transition: all 0.5s ease;
}
.divblog4 .img{
    width: 444px;
    height: 383px;
    background-image: url(../img/fondoblogposteo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border: #707070;
    margin-bottom: 15px;
    transition: all 0.5s ease;
}
.divblog1 .img:hover, .divblog2 .img:hover, .divblog3 .img:hover, .divblog4 .img:hover{
    filter: opacity(60%);    
}
.blog-container .blog-subtitulo, .page-blog .blog-subtitulo{
    font-size: 1rem;
    letter-spacing: 0.85px;
    margin: 0;
}
.blog-container .blog-titulo, .page-blog .blog-titulo{
    margin: 0;
    font-size: 2.25rem;
    line-height: 36px;
}
.blog-container .blog-subtitulo-movil, .page-blog .blog-subtitulo-movil, .page-blog-single .blog-subtitulo-movil{
display: none;
}
.blog-container .blog-titulo-movil, .page-blog .blog-titulo-movil, .page-blog-single .blog-titulo-movil{
display: none;
}
/* BLOG PAGINA COMPLETA */
.page-blog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    font-size: 1.063rem;
    letter-spacing: 0;
    line-height: 20px;
    padding: 30px 130px;
    }
    
    .div-page-blog_1 { grid-area: 1 / 1 / 2 / 3; }
    .div-page-blog_2 { grid-area: 1 / 3 / 2 / 4; }
    .div-page-blog_3 { grid-area: 2 / 1 / 3 / 2; }
    .div-page-blog_4 { grid-area: 2 / 2 / 3 / 3; }
    .div-page-blog_5 { grid-area: 3 / 1 / 4 / 2; }
    .div-page-blog_6 { grid-area: 3 / 2 / 4 / 3; }
    .div-page-blog_7 { grid-area: 4 / 1 / 5 / 2; }
    .div-page-blog_8 { grid-area: 4 / 2 / 5 / 3; }

    .titulo-page-blog{
font-size: 3.375rem;
font-weight: bold;
color: #03091E;
padding: 20px 0 0 130px;
}
/* pagina blog single */
.page-blog-single {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    font-size: 1.063rem;
    letter-spacing: 0;
    line-height: 20px;
    padding: 30px 130px;
    }
    
    .div-page-blog_1-single { grid-area: 1 / 1 / 2 / 3; }
    .div-page-blog_2-single { grid-area: 1 / 3 / 2 / 4; }
    

.div-page-blog_1 .img, .div-page-blog_1-single .img{
    width: 100%;
    height: 383px;
    background-image: url(../img/fondoblogposteo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: grey;
    margin-bottom: 15px;
}
.div-page-blog_3 .img, .div-page-blog_4 .img, .div-page-blog_5 .img, .div-page-blog_6 .img, .div-page-blog_7 .img, .div-page-blog_8 .img, .div-page-blog_1-single .img, .div-page-blog_2-single .img{
    width: 100%;
    height: 222px;
    background-image: url(../img/fondoblogposteo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border: #707070;
    transition: all 0.5s ease;
}
.div-page-blog_3 .img:hover, .div-page-blog_4 .img:hover, .div-page-blog_5 .img:hover, .div-page-blog_6 .img:hover, .div-page-blog_7 .img:hover, .div-page-blog_8 .img:hover, .div-page-blog_1-single .img:hover, .div-page-blog_2-single .img:hover{
    filter: opacity(70%);
}
.btnblogpage, .div-page-blog_2 input[type="submit"], .div-page-blog_2-single input[type="submit"]{
    width: 168px;
    height: 48px;
    background-color: #82D940;
    border-color: #707070;
    border-radius: 37px;
    color: #EFF0F1;
    margin: 0 0 50px 130px;
    transition: all 0.3s ease;
}
.btnblogpage:hover, .div-page-blog_2 input[type="submit"]:hover, .div-page-blog_2-single input[type="submit"]:hover{
    background-color: #67ad31;
}
.div-page-blog_2, .div-page-blog_2-single{
    width: 75%;
    height: 380px;
    background-color: #010513;
    border-radius: 4px;
    color: #FFFFFF;
    text-align: center;
    padding: 30px 10px;
}
.div-page-blog_2 h6, .div-page-blog_2-single h6{
    font-size: 1.313rem;
    margin-bottom: 30px;
}
.div-page-blog_2 input, .div-page-blog_2-single input{
    margin-top: 30px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid grey;
    color: white;
}
.div-page-blog_2 input[type="submit"], .div-page-blog_2-single input[type="submit"]{
    margin: 50px 0 0 0;
}
/* NEWSLETTER */
.sectionFormBlog{
    display: none;
}
.newsletter{
    width: 100%;
    height: 297px;
    text-align: center;
    color: #FFFFFF;
    background-color: #010513;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.newsletter #input{
    width: 461px;
    
}
#input input, #button-addon2{
    font-size: 1.5rem;
}
#button-addon2{
    background-color:#82D940;
    color: white;
    transition: all 0.3s ease;    
}
#button-addon2:hover{
    background-color:#5fa02e;
}
/* FOOTER */
footer{
    width: 100%;
    height: 305px;
    background-color: #121F3D;
    color: #EFF0F1;
    font-size: 0.938rem;
    padding: 20px 139px;
    display: flex;
    justify-content: space-between;
}
footer div:first-child a{
    text-decoration: none;
    color: #EFF0F1;
}
footer div:first-child a img{
    width: 139px;
    height: 58px;
    margin-bottom: 20px;
    padding-left: 0;
}
.footer{
    padding-left: 0;
    margin-left: 0;
}
.footer ul{
    flex-direction: column;
    list-style: none;
    padding-left: 10px;
    
    margin-bottom: 30px;
}
footer div:first-child p{
    font-size: 13px;
    padding-left: 10px;
}
.footer ul li:hover{
    color: #538b28;
}
#copy{
    padding-top: 0px;
}
#copyMovil{
    display: none;
}
footer div:last-child p:first-of-type{
    float: left;
    font-size: 1.5rem;
    text-align: right;
    line-height: 52px;
}
footer button{
    margin: 0 5px;
}
footer div:last-child p:last-of-type{
    text-align: right;
    clear: both;
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 0;
}
.candados{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: right;
    margin-top: 10px;
    margin-left: auto;
    
}
.candados img{
    width: 20px;
    height: 20px;
  
}
.candados div:first-child, .cards, .redes{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.cards img{
    width: 50px;
    height: 40px;
    margin-top: 0;
}
.redes a{
    text-decoration: none;
    color: #EEEEEE;
    padding: 10px;
    transition: all 0.3s ease;
}
.redes i{
    font-size: 2rem;
    margin-top: 35px;
}
.redes a:hover{
    transform: scale(1.5);
    color: #62a52f;
}
.faq{
    display: none;
}

/* Preguntas frecuentes */

.titulo-preguntas-frecuentes{
    font-size: 54px;
    font-weight: bold;
    padding: 40px 0 30px 95px;
    color: #03091E;
}
.acordion-preguntas-frecuentes{
    width: 90vw;
    padding-left: 95px;
    color: #03091E;
}
/* LOGIN Y REGISTRO */
#bodyLogin{
    width: 100%;
    background-image: url(../img/slider2-inicio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.section-login{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.contenedor__todo{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}
.caja__trasera{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px);
    background-color: rgba(6, 53, 100, 0.5);
}

.caja__trasera div{
    margin: 100px 40px;
    color: white;
    transition: all 500ms;
}

.caja__trasera div p, .caja__trasera div button{
    margin-top: 30px;
}
.caja__trasera div h3{
    font-weight: bold;
    font-size: 26px;
}
.caja__trasera button{
    padding: 10px 40px;
    border: 2px solid #82D940;
    background: transparent;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    color: #82D940;
    outline: none;
    transition: all 300ms;
}

.caja__trasera button:hover{
    background: white;
    color: #82D940;
}
/* formularios de login */
.contenedor__login-register{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}
.contenedor__login-register form{
    width: 100%;
    padding: 80px 20px;
    background: white;
    position: absolute;
    border-radius: 20px;
}
.contenedor__login-register form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #03091E;
}
.contenedor__login-register form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #f2f2f2;
    font-size: 16px;
    outline: none;
}
.contenedor__login-register form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: #82D940;
    color: white;
    cursor: pointer;
    outline: none;
}
.formulario__login{
    opacity: 1;
    display: block;
}
.formulario__register{
    display: none;
}

/* contacto */
.section__contacto{
    width: 100%;
    height: 100vh;
    padding: 64px 139px;
    background-image: url(../img/slider1-inicio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EEEEEE;
}
.section__contacto div:first-child{
    width: 100%;
    padding-right: 130px;

}
.section__contacto div:first-child h1{
    font-size: 3rem;
    letter-spacing: 3px;
    font-weight: bold;
}
.section__contacto div:first-child p{
    font-size: 2rem;
    font-weight: 200;
    font-style: italic;
}
.section__contacto div:last-child, .section__inscripcion div:last-child{
    width: 100%;
    padding: 25px 20px;
    text-align: center;
    background-color: #03091E;
}
.section__contacto div:last-child h6, .section__inscripcion div:last-child h6{
    font-size: 1.313rem;
    margin-bottom: 15px;
}
.section__contacto div:last-child p, .section__inscripcion div:last-child p{
    font-size: 1.063rem;
    letter-spacing: 0.7px;
    line-height: normal;
}
.section__contacto div:last-child form, .section__inscripcion div:last-child form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section__contacto div:last-child form input, .section__inscripcion div:last-child form input{
    width: 100%;
    height: 45px;
    color: white;
    background: transparent;
    margin-bottom: 15px;
    outline: none;
    border: 1px solid #EEEEEE;
    padding: 5px;
}
.section__contacto div:last-child form button, .section__inscripcion div:last-child form button{
    width: 168px;
    height: 48px;
    background-color: #82D940;
    border-color: #707070;
    border-radius: 37px;
    color: #EFF0F1;
    margin: 25px 0 20px 0;
    transition: all 0.3s ease;
}
.section__contacto div:last-child form button:hover, .section__inscripcion div:last-child form button:hover{
    background-color: #5a972c;
}
/* seccion inscripcion */
.section__inscripcion{
    width: 100%;
    height: 100vh;
    padding: 64px 139px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EEEEEE;
    position: relative;
}
.estilo1{
    background-image: url(../img/SliderCursos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.estilo1::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    filter: brightness(40%);
-webkit-filter: brightness(40%);
    background-color: rgba(255, 0, 0, 0.7);
}
.estilo2{
    background-image: url(../img/SliderCursos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.estilo2::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    filter: brightness(40%);
-webkit-filter: brightness(40%);
    background-color: rgba(251, 255, 0, 0.7);
}
.estilo3{
    background-image: url(../img/SliderCursos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.estilo3::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    filter: brightness(40%);
-webkit-filter: brightness(40%);
    background-color: rgba(255, 208, 0, 0.705);
}
.estilo4{
    background-image: url(../img/SliderCursos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.estilo4::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    filter: brightness(40%);
-webkit-filter: brightness(40%);
    background-color: #62a52fa6;
}
.estilo5{
    background-image: url(../img/SliderCursos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.estilo5::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    filter: brightness(40%);
-webkit-filter: brightness(40%);
    background-color: #7f4cc2ad;
}
.estilo6{
    background-image: url(../img/SliderCursos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.estilo6::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    filter: brightness(40%);
-webkit-filter: brightness(40%);
    background-color: #0a8fcdaf;
}

.section__inscripcion div:first-child{
    width: 100%;
    padding: 0px 10px;
    z-index: 2;
}
.section__inscripcion div:last-child{
    z-index: 2;
}
.section__inscripcion div:first-child h1{
    font-size: 2.4rem;   
}
.section__inscripcion div:first-child h3{
    font-size: 4.5rem;
    font-weight: bold;   
    float: left;
    margin-right: 10px;
}
.section__inscripcion div:first-child #txtTituloCurso{
    font-size: 1.25rem;
    margin-top: 20px;
    margin-bottom: 0;
}
.section__inscripcion div:first-child #txtNumClases{
    font-size: 1.063rem;
    margin: 0;
}
.section__inscripcion div:first-child p:last-of-type{
    clear: both;
    text-align: justify;
}
.section__inscripcion div:last-child form button{
    margin-top: 0;
}
/* Politica de privacidad */
.container-politica{
    padding: 7px 50px 0 95px;
}
.container-politica .titulo-politica{
    color: #03091E;
    font-weight: bold;
    font-size: 22px;
    margin: 35px 0 15px 0;
}
.container-politica p{
    color: #03091E;
    font-size: 16px;
    padding: 5px 0 10px 0;
}
.container-politica ul{
    list-style: none;
}

/* MEDIA QUERIES */
@media (max-width: 920px) {

/* HEADER */
nav .menu-btn i{
    display: block;
}
nav .logo{
    display: none;
}
header nav{
    padding: 0 30px 0 40px;
}
.logo-mobile{
    display: flex;
    color: #EFF0F1;
    padding-left: 20px;
    width: 80px;
    height: 50px;
}
.logo-mobile img{
    object-fit: contain;
    width: 80px;
    height: 50px;
}
.icon-usuario-carrito i{
    color: #EFF0F1;
    font-size: 18px;
    padding: 0 6px;
}
#click:checked ~ .menu-btn i:before{
    content: "\f00d";
}
nav ul{
    position: absolute;
    z-index: 100;
    top: 65px;
    left: -100%;
    align-content: space-around;
    background: #03091E;
    height: 330px;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
}
#click:checked ~ ul{
    left: 0;
}
nav ul li{
    width: 100%;
    margin: 40px 0;
}
nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 17px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
#click:checked ~ ul li a{
    margin-left: 0px;
}
    nav ul li a.active,
    nav ul li a:hover{
        background: none;
        color: greenyellow;
        text-decoration: none;
    }
    
/*Slider inicio*/
/* slide1 */
.text-slider1-inicio{
    margin: 65px 0 20px 55px;
    }    
.container-slider-inicio .text-slider1-inicio h1{
    font-size: 40px;
    padding-top: 10px;
    margin-bottom: 58px;
}
.container-slider-inicio .text-slider1-inicio h2{
    font-size: 25px;
}
.container-slider-inicio .btn-masinfo-inicio button{
    width: 182px;
    height: 54px;
    font-size: 22px;
}
.manual-btn:hover{
    background: none;
}
/* Info minima */
.info-minima-contenidos{
    display: flex;
    padding-left: 45px;
    }
.info-minima-texto{
    font-size: 16px;
}
.info-minima-contenidos, .info-minima-texto{
    flex: 0 0 40%;
    width: 100%;
    object-fit: cover;
    overflow: auto;
}

 /* Preguntas frecuentes */
.titulo-preguntas-frecuentes{
    padding: 25px 0 15px 40px;
    font-size: 60px;
    font-weight: bold;
    }
.acordion-preguntas-frecuentes{
    width: 95vw;
    padding: 10px 10px 0 40px;
    }
/* Politica de privacidad */
.container-politica{
    padding: 7px 20px 0 35px;
    }
.container-politica p{
    font-size: 18px;
    }
}

@media (max-width: 768px){
    /* SLIDER CURSOS */
.slider-cursos{
    max-width: 100vw;
    padding: 50px;
}
.card .content h3{
    font-size: 4rem;
    padding-bottom: 0;
}
.card .content p{
    padding: 0 15px;
    font-size: 1rem;
    line-height: normal;
}
.card .content p:first-of-type{
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 0;
}
.card .content button{
    margin-top: 0px;
}
/* detalle */
.detail{
    padding: 30px;
}
.detail-container{
    font-size: 1rem;
}
.detail-container div:first-child img{
    height: 290px;
    margin-bottom: 15px;
}
.detail-container div:last-child h3{
    font-size: 4rem;
}
.detail-container div:last-child button{
    margin: 10px 0 0 210px;
}
/* mensaje gris */
#txt{
    max-width: 100vw;
    font-size: 2rem;
}
/* TESTIMONIALS */
.w-75 {
    width: 98%!important;
}
.testimonials h2{
    font-size: 1.3rem;
}
.card-testimonial{
    max-width: 100vw;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 1rem;
}
.card-testimonial div:first-child{
    padding:0 10px;
}

.card-testimonial div:last-child p{
    font-size: 0.9rem;
    line-height: normal;
}
.card-testimonial img{
    margin-bottom: 5px;
}
.card-testimonial p:first-of-type{
    color: #A3FF40 ;
    margin-bottom: 0;
}
.card-testimonial p:nth-of-type(2){
    color: #8B8B8B ;
    font-size: 0.8rem;
}
.testimonials .carousel-control-next{
    display: none;
} .testimonials .carousel-control-prev{
    display: none;
}
/* autoridades */
.autoridades, .organizan{
    padding: 35px 100px;
}
.autoridades p, .organizan p{
    font-size: 1rem;
}
.autoridades img{
    display: block;
    width: 50%;
    margin: 0 auto 20px;
}
/* comunidad */
.comunity{
    max-width: 100vw;
    height: 400px;
}
.comunity h2{
    font-size: 4rem;
}
.comunity p:first-child{
    font-size: 1.3rem;
}
.comunity p:last-child{
    font-size: 1rem;
    line-height: 27px;
}
/* blog section*/
.blog{
    padding: 30px 120px;
}
.blog-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 12px;
    font-size: 1rem;
    line-height: normal;
}
    
    .divblog1 { grid-area: 1 / 1 / 2 / 2; }
    .divblog2 { grid-area: 2 / 1 / 3 / 2; }
    .divblog3 { grid-area: 3 / 1 / 4 / 2; }
    .divblog4 { grid-area: 1 / 2 / 4 / 3; }
.divblog1 .img, .divblog2 .img, .divblog3 .img{
    width: 140px;
    height: 140px;
    float: left;
    margin-right: 10px;
}
.divblog4 .img{
    width: 100%;
    height: 250px;
}
.divblog3{
    display: none;
}
.blog-container .blog-subtitulo, .page-blog .blog-subtitulo, .page-blog-single .blog-subtitulo{
    letter-spacing: normal;
}
.blog-container .blog-titulo, .page-blog .blog-titulo, .page-blog-single .blog-titulo{
    font-size: 2rem; 
}
/* BLOG PAGINA COMPLETA */
.page-blog, .page-blog-single {
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    font-size: 1rem;
    padding: 30px 30px;
}
.titulo-page-blog{
font-size: 3rem;
}
.btnblogpage, .div-page-blog_2 input[type="submit"], .div-page-blog_2-single input[type="submit"]{
    display: block;
    width: 160px;
    height: 40px;
    margin: 0 auto 20px;
}
.div-page-blog_2, .div-page-blog_2-single{
    width: 100%;
}
.div-page-blog_2 input[type="submit"], .div-page-blog_2-single input[type="submit"]{
    margin-top: 50px ;
}
/* NEWSLETTER */
.newsletter{
    height: 240px;
}
#input input, #button-addon2{
    font-size: 1.3rem;
}
/* FOOTER */
footer{
    height: 250px;
    font-size: 0.8rem;
    padding: 20px 120px;
}
footer div:first-child a img{
    width: 115px;
    height: 40px;
    margin-bottom: 20px;
    padding-left: 0;
}
#menuFooter{
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0px;
    color: white;
    margin-bottom: 30px;
}
footer div:first-child p{
    font-size: 10px;
    padding-left: 10px;
}
#copy{
    padding-top: 100px;
}
#txtPago{
    margin-left: 188px !important;
}
#txtBeca{
    float: none;
    margin-bottom: 5px;
    display: block;
    width: 100%;
}
.faq{
    display: block;
    text-align: right;
}
.faq a{ 
color: white;
}
footer button{
    margin: 0 0px;
    margin-left: 190px;
    width: 120px;
}
footer div:last-child p:first-of-type {
    font-size: 1.5rem;
    text-align: right;
    line-height: normal;
}
footer div:last-child p:last-of-type{
    text-align: right;
    clear: both;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0;
}
.candados{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: right;
    margin-top: 10px;
    margin-left: auto;
    
}
.candados img{
    width: 10px;
    height: 10px;  
}
.cards img{
    width: 40px;
    height: 40px;  
}
.redes a{
    text-decoration: none;
    color: #EEEEEE;
    padding: 10px;
}
.redes i{
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 20px;
}
/* login */
.contenedor__login-register{
    max-width: 330px;   
}
/* contacto */
.section__contacto, .section__inscripcion{
    padding: 25px ;
}
.section__contacto div:first-child{
    padding-right: 80px;

}
.section__contacto div:first-child h1{
    font-size: 2rem;
    letter-spacing: 2px;
}
/* seccion inscripcion */
.section__inscripcion div:first-child h1{
    font-size: 2rem;   
}
.section__inscripcion div:first-child h3{
    font-size: 4rem;
}

}

@media (max-width: 480px){
    /* LOGIN Y REGISTRO */
.section-login{
    margin-top: 0px;
    margin-bottom: 0px;
}
.caja__trasera{
    max-width: 350px;
    padding-top: 0;
    height: 300px;
    flex-direction: column;
    margin: auto;
}
.caja__trasera-login{
    opacity: 0;
}
.caja__trasera div{
    margin: 0px;
    position: absolute;
}
.contenedor__login-register{
    top: -40px;
    left: 0px;
    margin: auto;
}
.contenedor__login-register form{
    position: relative;
    
}

/*Slider inicio*/
.text-slider1-inicio{
    margin: 45px 0 20px 20px;
}    
.container-slider-inicio .text-slider1-inicio h1{
    font-size: 33px;
    margin-bottom: 50px;
}
.container-slider-inicio .text-slider1-inicio h2{
    font-size: 24px;
}
.container-slider-inicio .btn-masinfo-inicio button{
    width: 152px;
    height: 47px;
    font-size: 20px;
}
/* slide 2 inicio*/
.text-slider2-inicio{
    text-align: center;
    padding-top: 80px;
}
.text-slider2-inicio h2{
    font-size: 37px;
    padding: 20px 0;
}
    .container-slider-inicio .btn-masinfo-inicio .btn-slide2-inicio{
        margin-top: 100px;
    }
/* info minima */
.info-minima-contenidos, .info-minima-texto{
    flex: 0 0 70%;
    width: 100%;
    object-fit: cover;
    overflow: auto;
}
    
/* Slider cursos */
.slider-cursos{
    width: 90%;
    padding: 5px;
}
.slider-cursos h2{
    font-size: 2rem;
}
.card{
    width: 450px;
    height: auto;
    font-size: 1rem;
}
.card .content h3{       
    font-size: 3rem;
}
.card .content p:first-of-type{
    font-weight: bold;
    font-size: 1rem;
}
.swiper-button-next:after {
    padding-left: 25px;
}
.swiper-button-prev:after{
    padding-right: 27px;
}
/* detalle */
.detail{
    padding: 20px;
}
.detail-container{
    flex-direction: column-reverse;
    justify-content: center;
    font-size: 0.9rem;
    line-height: normal;
}
.detail-container p{
    margin-bottom: 0;
}
.detail-container div:first-child .btnCompra{
    font-size: 1rem;
    margin-top: 10px;
}
.detail-container div:first-child img{
    display: block;
    width: 80%;
    height: 100px;
    margin: 0 auto;
}
.detail-container div:last-child h3{
    font-size: 2rem;
}
.detail-container div:last-child button{
    float: right;
    margin: 5px 0 0 ;
}
.swiper-pagination-bullets{
    display: none;
}
/* mensaje gris */
#txt{
    width: 100%;
    font-size: 1.5rem;
    padding: 10px;
}
/* testimonial */
.testimonials h2{
    font-size: 1.5rem;
    padding: 0;
    text-align: center;
}
/* destinatarios */
.destination{
    width: 90%;
    padding: 20px;
    margin: 65px auto;
    font-size: 1rem;
    color: #E2E2E2;
}
.destination h3{
    font-size: 1.7rem;
}
.destination button, .blog button, footer button{
    width: 150px;
    height: 40px;
    margin-top: 25px;
}
.destination button{
    display: block;
    margin: 0 auto;

}
/* autoridades */
.autoridades, .organizan{
    padding: 20px;
}
/* comunidad */
.comunity{
    width: 100%;
    height: 300px;
}
.comunity h2{
    font-size: 2rem;
    margin-bottom: 10px;
}
.comunity p:first-child{
    font-size: 1.2rem;
}
.comunity p:last-child{
    font-size: 1rem;
    line-height: 20px;
}
/* organizan */
.organizan img{
    width: 50%;  
}
.organizan h3{
   font-size: 1.7rem;
}
/* blog section*/
.blog{
    padding: 30px 10px;
}
.blog-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 12px;
}
.divblog1 { grid-area: 2 / 1 / 3 / 2; }
.divblog2 { grid-area: 3 / 1 / 4 / 2; }
.divblog3 { grid-area: 4 / 1 / 5 / 2; }
.divblog4 { grid-area: 1 / 1 / 2 / 2; }
.divblog1 .img, .divblog2 .img, .divblog3 .img, .divblog4 .img{
    width: 100%;
    height: 350px;
    margin-bottom: 15px;
}
.img{
    position: relative;
}
.blog-container .blog-subtitulo, .page-blog .blog-subtitulo, .page-blog-single .blog-subtitulo{
    display: none;
}
.blog-container .blog-titulo, .page-blog .blog-titulo, .page-blog-single .blog-titulo{
    display: none;
}
.blog-container .blog-subtitulo-movil, .page-blog .blog-subtitulo-movil, .page-blog-single .blog-subtitulo-movil{
    display: block;
    width: 100%;
    color: #03091E;
    font-size: 0.7rem;
    letter-spacing: normal;
    line-height: normal;
    margin: 0;
    padding: 0 5px;
    
}
.blog-container .img .blog-titulo-movil, .page-blog .img .blog-titulo-movil, .page-blog-single .img .blog-titulo-movil{
    display: block;
    width: 100%;
    color: #03091E;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 5px;
    font-size: 1rem;
    font-weight: bold;
   
    background-color: #f2f2f580;
}
.blog button{
    background-color: transparent;
    border: 1px solid white;
}
/* BLOG PAGINA COMPLETA */
.page-blog {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 0.5fr);
    grid-row-gap: 0px;
    font-size: 1rem;
    line-height: normal;
    padding: 30px 50px;
    }
    .div-page-blog_1 { grid-area: 1 / 1 / 2 / 2; }
    .div-page-blog_2 { grid-area: 8 / 1 / 9 / 2; }
    .div-page-blog_3 { grid-area: 2 / 1 / 3 / 2; }
    .div-page-blog_4 { grid-area: 3 / 1 / 4 / 2; }
    .div-page-blog_5 { grid-area: 4 / 1 / 5 / 2; }
    .div-page-blog_6 { grid-area: 5 / 1 / 6 / 2; }
    .div-page-blog_7 { grid-area: 6 / 1 / 7 / 2; }
    .div-page-blog_8 { grid-area: 7 / 1 / 8 / 2; }

    .btnblogpage{
        background: transparent;
        color: #03091E;
    }
/* BLOG PAGINA SINGLE */
.page-blog-single {
    display: grid;
    grid-template-columns:  1fr;
    grid-template-rows: 2, 0.5fr;
    
    grid-row-gap: 0px;
    font-size: 1rem;
    line-height: normal;
    padding: 30px 50px;
    }
    
    .div-page-blog_1-single { grid-area: 1 / 1 / 2 / 3; }
    .div-page-blog_2-single { grid-area: 2 / 1 / 3 / 2; }
/* NEWSLETTER */
.newsletter{
    height: 280px;
}
.sectionFormBlog{
    display: block;
    height: 100%;
}

.input-group{
    display: none;
}
.newsletter h6{
    display: none;
}
/* FOOTER */
footer{
    max-width: 100vw;
    height: 250px;
    font-size: 0.8rem;
    padding: 20px 50px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
footer div{
    width: 100%;
}

footer div:first-child{
    display: none;
}

footer button{
    margin: 0 auto;
    width: 120px;
}

footer div:last-child p:last-of-type{
    display: inline-block;
    text-align: center;
    font-size: 1rem;
    margin: 0 auto;
}
.candados{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    
}
.candados div:first-child img{
    display: none;  
}
.cards{
    justify-content: center;
}
.cards img{
    width: 40px;
    height: 40px;  
}
.faq{
    display: block;
    width: 100%;
    text-align: center;
}
.faq a{
    color: white;
    margin-bottom: 0;
}
.faq a:hover{
    color: #62a52f;
}
.redes{
    justify-content: center;
}
.redes a{
    text-decoration: none;
    color: #EEEEEE;
    padding: 10px;
   padding: 0 10px;
}
.redes i{
    font-size: 1rem;
    margin-top: 10px;
}
#copyMovil{
    width: 100%;
    display: block;
    font-size: 0.5rem;
    font-weight: normal;
    text-align: center;
    margin-top: 5px;
}
/* contacto */
.section__contacto, .section__inscripcion{
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 0px;
}
.section__contacto div:first-child{
   padding: 30px;
   padding-bottom: 0;
   text-align: center;

}
.section__contacto div:first-child h1{
    font-size: 1.3rem;
    letter-spacing: 2px;
    margin-top: 30px;
}
.section__contacto div:first-child p{
    font-size: 1rem;
    font-weight: 500;
}

.section__contacto div:last-child h6{
    font-size: 1.1rem;
    margin-bottom: 15px;
}
.section__contacto div:last-child p{
    font-size: 0.8rem;
    letter-spacing: normal;
    line-height: normal;
}
.section__contacto div:last-child form input{
    height: 35px;
    margin-bottom: 10px;
}
.section__contacto div:last-child form button{
    width: 140px;
    height: 40px;
}
/* section inscripcion */
.section__inscripcion div:first-child{
    padding: 30px;
}

}
@media (min-height: 726px){
    .container-slider-inicio .btn-masinfo-inicio button{
        width: 192px;
        height: 56px;
        font-size: 22px;
    }
    .container-slider-inicio .text-slider1-inicio h1{
        font-size: 42px;
        padding-bottom: 60px;
    }
    .container-slider-inicio .text-slider1-inicio h2{
        font-size: 26px;
    }
    .text-slider1-inicio{
        margin: 55px 0 30px 30px;
    }
    .container-slider-inicio .btn-masinfo-inicio .btn-slide1-inicio{
        margin-top: 210px;
    }
    .container-slider-inicio .btn-masinfo-inicio .btn-slide2-inicio{
        margin-top: 190px;
    }
}
