@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    width: 100%;
}

/* header */
.header{
    background-color: #03091E;
    position: sticky;
    top: 0;
    z-index: 100;
}
.header .menu-mobile{
    padding: .7rem 1.8rem .7rem 1.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mobile-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header a{
    color: #EFF0F1;
    text-decoration: none;
}
.logo img{
    width: 139px;
}
.menu{
    position: absolute;
    background-color: #03091E;
    width: 100vw;
    height: 350px;
    display: flex;
    z-index: 100;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 0;
    overflow: hidden;
    transition: .36s ease;
    font-size: 14px;
    list-style: none;
}
#header:target .menu{
    height: 300px;
}
#header:target .open{
    display: none;
}
#header:target .close{
    display: flex;
}
.close, .icon-usuario-carrito{
    display: none;
}

#txt{
    width: 80%;
    background-color: #324554;
    font-family: 'Montserrat', sans-serif;
    color: #EFF0F1;
    text-align: center;
    font-size: 2.25rem;
    padding: 30px 88px;
    margin: 20px auto;
}
/* SLIDER CURSOS */
.slider-cursos{
    width: 80%;
    margin: 0px auto;
    position: relative;
    background-image: url(../img/fondo-cursos.jpg);
    background-size: cover;
    background-position: center center;
    padding: 50px;
}


.slider-cursos h2{
text-align: center;
font-size: 2.625rem;
font-weight: bold;
margin-bottom:  20px;
color: #FFFFFF;
}
.card{
    position: relative;
    background: #fff;
    width: 443px;
    height: 483px;
    margin: 0 auto;
    font-size: 1.063rem;
    line-height: 20px;
    border: 1px solid #324554;
}
.card .content h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 4.5rem;
    font-weight: bold;
    text-align: left;
    padding: 15px;
    margin-bottom: 0;
}
.card .content{
    width: 100%;
    padding-bottom: 0;
    margin-bottom: 0;
    text-align: left;
}
.card .content p{
    padding: 0 15px;
}
.card .content p:first-of-type{
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 0;
}
.card .content button{
    display: inline-block;
    width: 100%;
    margin-top: 12px;
    padding: 10px 0;
    color: #FFFFFF;
}

.card .sliderImg{
    width: 100%;
    min-height: 174px;
    border: 1px solid #707070;
    background-image: url(../img/SliderCursos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.swiper-container {
    width: 100%;
    height: 100%;
  }
.swiper-slide{
    text-align: center;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.card1 h3{
    color: #E31837;
}
.card1 button{
    background: #E31837;
}
.card2 h3{
    color: #FF9C09;
}
.card2 button{
    background: #FF9C09;
}
.card3 h3{
    color: #c0a80e;
}
.card3 button{
    background: #c0a80e;
}
.card4 h3{
    color: #62a52f;
}
.card4 button{
    background: #62a52f;
}
.card5 h3{
    color: #7f4cc2;
}
.card5 button{
    background: #7f4cc2;
}
.card6 h3{
    color: #0A8ECD;
}
.card6 button{
    background: #0A8ECD;
}

/* TESTIMONIALS */
.testimonials{
    width: 100%;
    height: 450px;
    background-color: #03091E;
    padding-top: 25px;
}
.testimonials h2{
    color: #F3F3F3;
    padding-left: 13%;
    text-align: left;
    margin-top: 0;
}
.testimonials h2 span{
    font-weight: lighter;
}
.testimonials .carousel-control-next{
    align-items: end;
    width: 25px;
    top: 17px;
    left: 103%;
} .testimonials .carousel-control-prev{
    align-items: end;
    width: 25px;
    top: 17px;
    left: 100%;
}
.card-testimonial{
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    padding: 15px;
    background-color: #03091E;
    color: #EEEEEE;
    font-size: 1.063rem;
    
}
.card-testimonial div:first-child{
    width: 100%;
    padding: 10px;
}
.card-testimonial div:last-child{
    width: 100%;
    padding: 0 10px;
    background-color: #010513;
}
.card-testimonial div:last-child p{
    color: #EEEEEE;
    font-size: 1.063rem;
}
.card-testimonial img{
    width: 51px;
    height: 51px;
    border-radius: 100%;
    margin-bottom: 15px;
}
.card-testimonial p:first-of-type{
    color: #A3FF40 ;
}
.card-testimonial p:nth-of-type(2){
    color: #8B8B8B ;
    font-size: 0.875rem;

}
/* detalle */
.detail{
    width: 100%;
    height: 658px;
    padding: 30px 92px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}
.detail-1{
    background-color: #E31837 ;
    display: none;
}
.detail-1 h3, .detail-1 button{
    color: #E75A70;
}
.detail-2{
    background-color: #b97105 ;
    display: none;
}
.detail-2 h3, .detail-2 button{
    color: #FF9C09;
}
.detail-3{
    background-color: #c0a80e ;
    display: none;
}
.detail-3 h3, .detail-3 button{
    color: #85740b;
}
.detail-4{
    background-color: #62a52f ;
    display: none;
}
.detail-4 h3, .detail-4 button{
    color: #3d661e;
}
.detail-5{
    background-color: #7f4cc2 ;
    display: none;
}
.detail-5 h3, .detail-5 button{
    color: #4d2f75;
}
.detail-6{
    background-color: #0975a7;
    display: none;
}
.detail-6 h3, .detail-6 button{
    color: #125675;
}
.detail-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    background-color: transparent;
    font-size: 1.063rem;
    line-height: 20px;
    color: #FFFFFF;
}

.detail-container div:first-child, .detail-container div:last-child{
    width: 100%;
    height: 100%;
    padding: 10px;
}
.detail-container div:first-child img{
    width: 100%;
    height: 350px;
    margin-bottom: 5px;
}
.detail-container div:first-child a{
    width: 129px;
    display: block;
    padding: 5px;
    text-align: center;
    color: #FFFFFF;
    font-size: 1.125rem;
    border: 1px solid #FFFFFF;
    margin-top: 95px;
}
.detail-container div:last-child h3{
    display: block;
    font-size: 4.5rem;
    font-weight: bold;
    float: left;
}
.detail-container div:last-child button{
    width: 21px;
    height: 21px;
    text-align: center;
    line-height: 1rem;
    margin: 10px 0 0 310px;
    border: none;
    background: none;
    font-size: 2rem;
}
.detail-container div:last-child h6{
    clear: both;
    font-size: 1.25rem;
}

/* destinatarios */
.destination{
    width: 80%;
    padding: 20px 92px;
    margin: 35px auto;
    background-color: #03091E;
    font-size: 1.063rem;
    color: #E2E2E2;
}

.destination h3{
    font-size: 2.563rem;
    font-weight: bold;
    color: #A3FF40;
    letter-spacing: 2.05px;
    margin-bottom: 25px;
}
.destination button, .blog button, footer button{
    width: 168px;
    height: 48px;
    background-color: #82D940;
    border-color: #707070;
    border-radius: 37px;
    color: #EFF0F1;
    margin-top: 25px;
}

.destination  ul li{
    margin-bottom: 12px;
    line-height: 20px;
}
/* autoridades */
.autoridades, .organizan{
    width: 100%;
    padding: 35px 139px;
}
.autoridades h3 span{
    font-weight: normal;
}
.autoridades h3, .organizan h3{
    font-size: 2.625rem;
    font-weight: bold;
    color: #03091E;
    text-align: center;
}
.autoridades p, .organizan p{
    font-size: 1.063rem;
    color: #202020;
    line-height: 20px;
}
.autoridades p:first-of-type{
    color: #82D940;
    font-size: 1.5rem;
    margin-bottom: 0;
}
.autoridades p:nth-of-type(2){
    color: #82D940;
    font-size: 1.313rem;
    margin-bottom: 5px;
}
.autoridades img{
    width: 100%;
    margin-bottom: 20px;
}


/* organizan */
.organizan img{
    width: 100%;  
}

.organizan h3{
    text-align: center;
}
.organizan h3 span{
    font-weight: normal;
}
.organizan .logosParteners p{
    color: #656565;
}

/* comunidad */

.comunity{
    width: 100%;
    height: 520px;
    background: url(../img/comunidad\ estadio2.jpg) no-repeat  center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    text-align: center;
}

.comunity h2{
    font-size: 4.5rem;
    letter-spacing: 3.6px;
    font-family: Montserrat;
    margin: 0;
}

.comunity p:first-child{
    display: inline-block;
    font-size: 1.438rem;
    margin-bottom: 0;
    line-height: 17px;
}
.comunity p:last-child{
    font-size: 1.063rem;
    line-height: 27px;
}

/* blog */
.blog{
    width: 100%;
    min-height: 100vh;
    padding: 30px 139px;
    background-color: #03091E;
    color: #FFFFFF;
}

.blog h6{
    text-align: center;
    font-weight: bold;
    font-size: 1.438rem;
    letter-spacing: 1.15px;
}
.blog button{
    display: block;
    text-align: center;
    margin:  5px auto;

}
.blog-container {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 16px;
    font-size: 1.063rem;
    letter-spacing: 0;
    line-height: 20px;
    }
    
    .divblog1 { grid-area: 1 / 1 / 2 / 2; }
    .divblog2 { grid-area: 2 / 1 / 3 / 2; }
    .divblog3 { grid-area: 3 / 1 / 4 / 2; }
    .divblog4 { grid-area: 1 / 2 / 4 / 3; }
.divblog1 .img, .divblog2 .img, .divblog3 .img{
    width: 168px;
    height: 174px;
    background-color: white;
    border: #707070;
    float: left;
    margin-right: 10px;
}
.divblog4 .img{
    width: 444px;
    height: 383px;
    background-color: white;
    border: #707070;
    margin-bottom: 15px;
}
.blog-container .blog-subtitulo{
    font-size: 1rem;
    letter-spacing: 0.85px;
    margin: 0;
}
.blog-container .blog-titulo{
    margin: 0;
    font-size: 2.25rem;
    line-height: 36px;
}

/* NEWSLETTER */
.newsletter{
    width: 100%;
    height: 297px;
    text-align: center;
    color: #FFFFFF;
    background-color: #010513;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.newsletter #input{
    width: 461px;
    
}
#input input, #button-addon2{
    font-size: 1.5rem;
}
#button-addon2{
    background-color:#82D940;
    color: white;    
}

/* FOOTER */
footer{
    width: 100%;
    height: 305px;
    background-color: #03091E;
    color: #EFF0F1;
    font-size: 0.938rem;
    padding: 20px 139px;
    display: flex;
    justify-content: space-between;
}
footer div:first-child a{
    text-decoration: none;
    color: #EFF0F1;
}
footer div:first-child a img{
    width: 139px;
    height: 58px;
    margin-bottom: 20px;
    padding-left: 0;
}
footer div:first-child ul{
    list-style: none;
    padding-left: 10px;
    margin-bottom: 30px;
}
footer div:first-child p{
    font-size: 13px;
    padding-left: 10px;
}

footer div:last-child p:first-of-type{
    float: left;
    font-size: 1.5rem;
    text-align: right;
    line-height: 52px;
}
footer button{
    margin: 0 5px;
}
footer div:last-child p:last-of-type{
    text-align: right;
    clear: both;
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 0;
}
.candados{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: right;
    margin-top: 10px;
    margin-left: auto;
    
}
.candados img{
    width: 20px;
    height: 20px;
  
}
.candados div:first-child, .cards, .redes{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.cards img{
    width: 50px;
    height: 40px;
    margin-top: 0;
}
.redes a{
    text-decoration: none;
    color: #EEEEEE;
    padding: 10px;
}
.redes i{
    font-size: 2rem;
    margin-top: 35px;
}
/* MEDIA QUERIES */
@media (min-width: 900px){
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 139px 0 100px;
        height: 5rem;
    }
    .menu{
        height: auto;
        position: static;
        margin-right: 75px;
        justify-content: center;
        flex-direction: row;
        padding: auto;
        width: 60vw;
    }
    .logo{
        margin-left: 22px;
    }
    .menu a{
        padding: 0 20px;
    }
    .mobile-icon{
        display: none;
    }
    .icon-usuario-carrito{
        display: flex;
        margin-right: 60px;
    }
    .icon-usuario-carrito a{
        margin: 0 7px;
    }
}
